annotated-types
anyio
bcrypt
certifi
charset-normalizer
click
colorama
fastapi
greenlet
gunicorn
h11
httptools
idna
Jinja2
MarkupSafe
packaging
passlib
pydantic
pydantic_core
python-dotenv
python-multipart
PyYAML
requests
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
urllib3
uvicorn[standard]
uvloop
watchfiles
websockets
requests==2.32.3
