name: CI/CD Pipeline - Build and Deploy to EC2

on:
  push:
    branches:
      - main  # Change if you use another branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    #  Step 1: Checkout source code
    - name: Checkout repository
      uses: actions/checkout@v3

    #  Step 2: Set up Python (if needed)
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    #  Step 3: Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    #  Step 4: Run tests (optional)
    - name: Test FastAPI startup
      run: |
        uvicorn backend.main:app --host 127.0.0.1 --port 8000 --reload &
        sleep 10
        curl -I http://127.0.0.1:8000 || exit 1

    # Step 5: Creating PEM & verify
    - name: Create SSH key file
      run: |
        echo "${{ secrets.EC2_PRIVATE_KEY }}" > key.pem
        chmod 600 key.pem

    - name: Verify Key File
      run:
            ls -l key.pem
    #step 7:
    - name: Deploy to EC2 via Elastic Beanstalk
      run: |
           ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@ec2-3-86-215-132.compute-1.amazonaws.com << 'EOF'
             cd ~/exam_feedback_app
             git reset --hard
             git pull https://github.com/userD365/SCP.git main
             source venv/bin/activate
             eb deploy
           EOF



